{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="description" cols="100"
                                      placeholder="Add a Description" required></textarea>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="author" placeholder="Author" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="url" placeholder="URL" required>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td><strong>{{ game.name }}</strong></td>
                    <td>{{ game.description }}</td>
                    <td>{{ game.author }}</td>
                    <td>
                        <a class="btn btn-primary"
                           href="/show/{{ game.id }}">
                            Show
                        </a>
                        <a class="btn btn-danger"
                           href="/delete/{{ game.id }}">
                            Delete
                        </a>
                        <a class="btn btn-info"
                           href="/update/{{ game.id }}">
                            Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

{% endblock %}
